numpy==1.26.3
scipy>=0.15.1
Pillow>=2.1.0
opencv-python==4.8.1.78
dask[array]
lxml
psycopg2-binary
scikit-image==0.22.0
django
django-storages[google]
dj-inmemorystorage
psutil
urllib3==1.26.6
google-cloud-storage
matplotlib==3.8.2
imutils==0.5.4
gcloud-aio-storage