<!DOCTYPE html>
<html ng-app="app" flow-init
      flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
      flow-files-submitted="$flow.upload()">
<head>
    <title>Tukang Verifikator C1</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
    <script src="dist/angular-resource/angular-resource.js"></script>
    <script src="dist/ng-flow-standalone.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
          rel="stylesheet"/>
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
<div class="container" ng-controller="imageRegistrationController"
     flow-file-progress="updateProgress($file)" flow-file-added="setImage(null)"
     flow-file-success="setImage($message)">
    <div class="logo"></div>
    <h1 class="title">Tukang Verifikator C1</h1>
    <hr class="soften"/>

    <div class="block column" ng-class="{success : hasUploadFinished(), done: hasExtractionFinished()}">

        <h3>Unggah C1</h3>

        <div >
            <img ng-src="{{uploadUrl}}" class="thumbnail" ng-hide="(hasUploadFinished() && hasRegistrationFailed())"/>
            <img class="thumbnail" flow-img="$flow.files[0]" ng-show="(hasUploadFinished() && hasRegistrationFailed())"/>

            <div class="progress progress-striped"
                 ng-class="{active: $flow.file.isUploading()}" ng-show="$flow.files.length && !hasUploadFinished()">
                <div class="progress-bar" role="progressbar"
                     ng-style="{width: (progress * 100) + '%'}">
                    <span class="sr-only">{{Math.round(progress * 100) }}% Lengkap</span>
                </div>
            </div>
        </div>
        <div>
            <a href="#" class="btn" ng-hide="$flow.files.length" flow-btn
               flow-attrs="{accept:'image/*'}">Pilih formulir</a>
<!--            <a href="#" class="btn" ng-show="$flow.files.length" flow-btn
               flow-attrs="{accept:'image/*'}">Ganti</a>
            <a href="#" class="btn btn-danger" ng-show="$flow.files.length"
               ng-click="$flow.cancel()">
                Hapus
            </a>-->
        </div>
    </div>
    <div class="block column" ng-class="{success : hasExtractionSucceeded(), failure : hasExtractionFailed(), done: mostProbableOutcome}">
        <h3>Deteksi angka</h3>

        <div class="result numbers" style="width: 100px;" ng-show="(hasUploadFinished() && !hasRegistrationFailed())">
            <div ng-repeat="extractedImage in extractedImages" style="padding: 2px; float: left"
                 ng-show="$flow.files.length">
                <img src="{{extractedImage.filename}}"/>
            </div>
        </div>
        <div class="result" ng-show="(hasUploadFinished() && hasRegistrationFailed())">
            <p>
                Mohon maaf, <br/>
                sepertinya angka2 dalam formulir ini tidak bisa terdeksi. <br/>
                Apakah formulir ini memang formulir yang benar?
            </p>

        </div>
        <div>
            <a href="#" class="btn btn-danger" ng-show="(hasUploadFinished() && hasRegistrationFailed())" ng-click="abort()">
                Batal
            </a>
        </div>
    </div>
    <div class="block column" ng-class="{success : mostProbableOutcome, failure : (correction && !submitted), done: (correction || correct)}">
        <h3>Verifikasi data</h3>
        <div ng-show="mostProbableOutcome" class="result">
            <table class="hasil">
                <tr>
                    <th>
                        Calon
                    </th>
                    <th>
                        Jumlah
                    </th>
                </tr>
                <tr>
                    <td>
                        H. Prabowo Subianto
                    </td>
                    <td>
                        {{ mostProbableOutcome.prabowo }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Ir. H. Joko Widodo
                    </td>
                    <td>
                        {{ mostProbableOutcome.jokowi }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Suara sah
                    </td>
                    <td class="jumlah">
                        {{ mostProbableOutcome.total }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Tidak sah
                    </td>
                    <td>
                        3
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="warning">
                        <b>Perhatian:</b> untuk sementara data ini hanya berfungsi sebagai contoh,
                        dan bukan angka yang terdeksi dari formulir di sebelah ini.
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <a href="#" class="btn btn-success" ng-show="mostProbableOutcome && !correction && !correct"
               ng-click="agree()">
                Sesuai
            </a>
            <a href="#" class="btn btn-danger" ng-show="mostProbableOutcome && !correction && !correct"
               ng-click="disagree()">
                Tidak Sesuai
            </a>
        </div>
    </div>
    <div class="block column" ng-class="{success : submitted}" >
        <h3>Koreksi data</h3>
        <div ng-show="correction || correct" class="result">
            <table class="hasil">
                <tr>
                    <th>
                        Calon
                    </th>
                    <th>
                        Jumlah
                    </th>
                </tr>
                <tr>
                    <td>
                        H. Prabowo Subianto
                    </td>
                    <td>
                        <input ng-model="correction.prabowo" type="number" max="999"  ng-maxlength="3" ng-show="correction && !submitted" />
                        <span ng-show="correction && submitted">{{correction.prabowo}}</span>
                        <span ng-show="correct">{{mostProbableOutcome.prabowo}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Ir. H. Joko Widodo
                    </td>
                    <td>
                        <input ng-model="correction.jokowi" type="number" max="999"  ng-maxlength="3" ng-show="correction && !submitted"/>
                        <span ng-show="correction && submitted">{{correction.jokowi}}</span>
                        <span ng-show="correct">{{mostProbableOutcome.jokowi}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Suara sah
                    </td>
                    <td class="jumlah">
                        <span ng-show="correction">{{ correction.prabowo +  correction.jokowi}}</span>
                        <span ng-show="correct">{{ mostProbableOutcome.total }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Tidak sah
                    </td>
                    <td>
                        3
                    </td>
                </tr>
            </table>
            <div ng-show="submitted" class="beritaBerhasil">
                <b>Terima kasih:</b> formulir C1 telah dikirim.
            </div>
        </div>
        <div>
            <a href="#" class="btn btn-success" ng-show="(correction && !submitted) || (correct && !submitted)"
               ng-click="submit()">
                Kirim
            </a>
            <div>
                <a href="#" class="btn btn-success" ng-show="submitted" ng-click="abort()">
                    Unggah formulir lain
                </a>
            </div>
        </div>
    </div>
    <br/>
    <a href="contoh-formulir.zip" class="bottomright">Mengunduh formulir contoh (1 MB)</a>
</div>


</body>
</html>